

.error{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    & .title {
        font-size: 3em;
    }

    & .message {
        font-size: 1.5em;
    }
}